.iconButton {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
 }

.iconButton:hover {
    filter: brightness(1.2)
}